body {
  background-image: url(./salvatore-andrea-santacroce-E8EZ5FO9EiA-unsplash.jpg);
  background-size: cover;
}

.favicon {
  margin-left: 20px;
}

h1 {
  font-family: 'Square Peg', cursive;
  font-size: 4em;
  color: #22223b;
}

h2 {
  font-family: 'Square Peg', cursive;
  font-size: 3rem;
  color: #22223b;
}

h3 {
  font-family: 'Square Peg', cursive;
  font-size: 2.5rem;
  color: #22223b;
}

h4 {
  font-family: 'Flamenco', cursive;
  font-size: 1.8rem;
  color: #22223b;
}

h5, .form-group {
  font-family: 'Flamenco', cursive;
  font-size: 1.4rem;
  color: #22223b;
}

h6 {
  font-family: 'Flamenco', cursive;
  font-size: 1.3rem;
  color: #22223b;
}

p, li {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  color: #22223b;
}

.form-control {
  font-family: 'Mulish', sans-serif;
  color: #22223b;
}

a {
  color: #776373;
  text-decoration: none;
}

a:hover {
  color: #4a4e69
}

.page-header {
  text-align: center;
  margin: 30px;
}

.card {
  margin: 10px;
  max-width: 26rem;
  text-align: center;
  padding: 10px;
  border: solid 2px #675a69;
  background-color: rgba(251, 248, 234, 0.7);
}

.card-title-format {
  padding: 15px 15px 0px 15px;
  text-align: left;
}

.card-written-by {
  margin: 0;
  padding-left: 15px;
  text-align: center;
}

.allstories-page {
  max-width: 1960px;
  margin: auto;
}

.btn-primary, .btn-outline-info{
  font-family: 'Mulish', sans-serif;
  color: #675a69;
  background-color: #f4e1d9;
  border-radius: 0px;
  border: 0;
}

.btn-primary:hover, .btn-outline-info:hover {
  background-color: #bbabb6;
  color: #fbf8ea;
}

.btn-primary:active, .btn-outline-info:active {
  outline: none;
}

.center-these-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#written-by {
  text-align: center;
  margin: 0;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}

.button-spacing {
  margin: 0 15px 20px 15px;
}

.btn-danger{
  font-family: 'Mulish', sans-serif;
  color: #675a69;
  background-color: #f4e1d9;
  border-radius: 0px;
  border: 0;
}

.one-post {
  border: solid 1px #8d7385;
  margin: 4rem;
  padding: 3rem;
  background-color: rgba(246, 238, 246, 0.6);
}

.posts-page-post {
  margin: 10px;
  max-width: 26rem;
  text-align: center;
  padding: 10px;
  border: solid 2px #675a69;
  background-color: rgba(251, 248, 234, 0.7);
}

.div-backdrop {
  border: solid 1px #8d7385;
  margin: 0;
  padding: 3rem;
  background-color: rgba(246, 238, 246, 0.6);
}

#add-a-story {
  margin: 0rem 2rem 3rem 1rem;
}

.form-space {
  margin: 3rem 0 7rem 0;
}

.form-group {
  margin: 1rem;
}

#home-page-intro {
  text-align: center;
  margin: 2rem;
}

figure {
  border: solid 1px #8d7385;
  margin: 2rem;
  padding: 3rem;
  background-color: rgba(246, 238, 246, 0.6);
}

blockquote {
  font-family: 'Flamenco', cursive;
  font-size: 1.2rem;
  border-left: 8px solid #ccc;
  padding: 0.5em 20px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.card-font {
  font-size: 0.9rem;
}

cite, figcaption {
  font-family: 'Flamenco', cursive;
}

.needs-bottom-margin {
  margin: 0 0 5rem 0;
}

.center-this-text {
  text-align: center;
}

@media screen and (max-width: 767px){
  h1 {
    font-size: 3rem;
  }
  blockquote {
    padding: 5px 0px 0px 10px;
  }
  figure {
    margin: 0.6rem;
    padding: 1.2rem;
  }
  .div-backdrop {
    padding: 2rem;
  }
  #home-page-intro{
    margin: 0.6rem;
  }
}