body {
  background-image: url(./salvatore-andrea-santacroce-E8EZ5FO9EiA-unsplash.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Square Peg', cursive;
  font-size: 4em;
}

h2 {
  font-family: 'Square Peg', cursive;
  font-size: 3rem;
}

h3 {
  font-family: 'Square Peg', cursive;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Flamenco', cursive;
  font-size: 2rem;
}

h5, .form-group {
  font-family: 'Flamenco', cursive;
  font-size: 1.4rem;
}

h6 {
  font-family: 'Flamenco', cursive;
  font-size: 1.3rem;
}

p, li, cite, blockquote {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
}

.form-control {
  font-family: 'Mulish', sans-serif;
}