{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3>Collective Child Archetype Stories</h3>
        <div>
            <h4>About the Child Archetype: Guardian of Innocence and Responsibility</h4>
            <p>
                The Child archetype is the archetype that confronts us with our need to develop and take responsibility in our lives while retaining the appreciation for the wonders and endless possibilities of life. Many adults go through life still dependent in one way or another on an external source for survival, with the shadow child archetype as an excuse/rationale for this phenomena. 
            </p>
            <p>
                Written by Myss: “The core issue of all the Child archetypes is dependency and responsibility: when to take responsibility, when to have healthy dependency, when to stand up to the group, and when to embrace communal life.” (myss.com)
            </p>
            <p>
                The Child archetype has quite a few variations and is different for each person - if you’d like to explore some of them visit <a href="https://www.myss.com/free-resources/sacred-contracts-and-your-archetypes/appendix-the-four-archetypes-of-survival/" target="_blank">Myss’ site</a>.
            </p>
        </div>
        <div>
            <p>
                <i>Light aspects</i>: ability to take responsibility and mature in the world, ability to handle seriousness of adult life with childlike wonder, ability to confront childlike fears to face the real world and handle life independently, ability to effectively bridge gap between childhood and adulthood, ability to handle finances responsibly
                <br>
                <i>Shadow aspects</i>: dependency on external sources for childlike indulgences, pervasive sense of entitlement and self-absorbed attitudes, blaming current situation of dependency on events from family that happened years ago, complete immersion in fantasy that dreams will come without effort/action, lack of reliability, lack of achieving or prioritizing financial stability

            </p>
        </div>
        <h3>All Child Archetype Stories</h3>
    </div>
    <div class="container">
        {% for post in posts.items %}
            <div class="card">
                <div class="car-boy">
                    <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                    <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                    <p>Archetype: {{post.category}}, Published on: {{post.date.strftime('%Y - %m - %d')}}</p>
                    <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('posts.post_child', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('posts.post_child', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}