{% extends "base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Add a Story</h1>
  </div>
  <div class="div-backdrop" id="add-a-story">
    <p>Here you can add a story about an encounter with a survival archetype and how you dealt with it. In sharing your story, feel free to consider the following to help prompt you:</p>
    <ul>
      <li>When/how did I realize this was an encounter with this specific survival archetype?</li>
      <li>What was the choice I was faced with making?</li>
      <li>What was the lesson behind the choice I was called to make?</li>
      <li>What choice did I make, and how do I feel about it?</li>
      <li>What was the alternative choice, and how would I have felt about that?</li>
      <li>What did I learn about myself as a result of this experience/encounter?</li>
      <li>What did I learn about this archetype as a result of this experience/encounter?</li>
    </ul>
    <p>Remember, the intention is to help yourself gain clarity through the writing process, as well as help others to recognize the archetype in their own lives.</p>
  </div>
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

        <div class="form-group">
            {{form.title.label(class="form-control-label")}}
            {{form.title(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
          {{form.category.label(class="form-control-label")}}
          {{form.category(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
          {{form.content.label(class="form-control-label")}}
          {{form.content(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
          {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
{% endblock %}