{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to the Archetypes Story Collector!</h1>
        <h6>Login or Register an account to add your stories</h6>
        <div>
            <h3>What are Archetypes?</h3>
            <p>
                Broadly speaking, archetypes are impersonal patterns of behaviors or narratives that stem from the collective unconscious and are universally identified. They are shared collectively in the human experience and can be experienced both as life narratives, or as a psychological way of lensing a situation.
            </p>
        </div>
        <div>
            <h3>Why Archetypes?</h3>
            <p>
                Archetypes are the way we lens the world around us and a situation that is occuring in our lives. To be able to respond consciously to the events and experiences of our lives, it is extremely helpful to understand the archetypal pattern behind it in order to make a new choice.
            </p>
        </div>
        <div>
            <h3>What are the Four Survival Archetypes?</h3>
            <p>
                The concept of the four universal survival archetypes stems from <a href="https://myss.com" target="_blank">Caroline Myss</a> in her work <i>Sacred Contracts</i>. These survival archetypes are constantly in play in the life of an adult in search of establishing personal power in the material world. Myss writes “In engaging with the physical world and the moral choices that present themselves, we develop self-esteem…[The four priamry archetypes]…represent the issues, fears, and vulnerabilities that cause us to negotiate away the power of our spirits within the physical world…All four archetypes influence how we relate to material power, how we respond to authority, and how we make choices…These archetypal energies are neutral, and…can provide us with powerful and supportive imagery…[and] help you deal with your life today.” (144)
            </p>
            <p>
                The four survival archetypes are the Child, Victim, Saboteur, and Prostitute. Click into the individual pages in the navigation to see more detailed information on each individual survival archetype.
            </p>
        </div>
        <div>
            <h3>How to Use this Site/The Purpose of This Site</h3>
            <p>
                This site was born from the idea that the  way to learn about our archetypes and to become aware of their light and shadow entities comes from understanding and assimiliating the experiences in which we encounter these archetypes. Because the four survival archetypes are in each of us, through reading others’ experiences with them - how we encountered them, the lessons that were highlighted, and what choices were made as a result of that awareness - and actively identifying and writing about our own encounters with our survival archetypes helps us learn faster the lessons these archetypes intend to bring to us. 
            </p>
            <p>
                The purpose and intention of this site is to gather a collection of survival archetype stories to help more of us learn to master our survival archetypes in our own lives. By doing so, it is my hope that more of us become aware of our own journeys and choose to grow our personal power with integrity.
            </p>
        </div>
        <h1>All Stories</h1>
    </div>
    <div class="container">
        {% for post in posts.items %}
            <div class="card">
                <div class="car-boy">
                    <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                    <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                    <p>Archetype: {{post.category}}, Published on: {{post.date.strftime('%Y - %m - %d')}}</p>
                    <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}