{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to the Archetypes Story Collector!</h1>
        <h6>Login or Register an account to add your stories</h6>
        <div>
            <h3>What are Archetypes?</h3>
            <p>
                While the concept of archetypes dates back to Plato, the more recent popularized idea of archetypes stemmed from Carl Jung’s psychoanalytic research (which was also based on Plato’s Forms). Broadly speaking, archetypes are impersonal patterns of behaviors or narratives that stem from the collective unconscious and universally identified. They are shared collectively in the human experience and can be experienced both as life narratives or as a psychological way of lensing a situation.
            </p>
            <p>
                In the context of the purpose of this site, every archetype holds a light and shadow aspect - an archetype in and of itself is neither good nor bad, it is just about the choices we choose to exercise either the light or shadow expression of an archetype that determines our fate in a given situation.
            </p>
        </div>
        <div>
            <h3>Why Archetypes?</h3>
            <p>
                Archetypes are the way we lens the world around us and a situation that is occuring in our lives. To be able to respond consciously to the events and experiences of our lives, it is extremely helpful to understand the archetypal pattern behind it and make a new choice.
            </p>
        </div>
        <div>
            <h3>What are the Four Survival Archetypes?</h3>
            <p>
                The concept of the four universal survival archetypes stems from Caroline Myss in her work Sacred Contracts. These survival archetypes are constantly in play in the daily life of an adult in search of establishing personal power in the material world. Myss writes “In engaging with the physical world and the moral choices that present themselves, we develop self-esteem…The four priamry archetypes…symbolize our major life challenges and how we choose to survive. Together they represent the issues, fears, and vulnerabilities that cause us to negotiate away the power of our spirits within the physical world…All four archetypes influence how we relate to material power, how we respond to authority, and how we make choices…These archetypal energies are neutral, and…can provide us with powerful and supportive imagery…[and] help you deal with your life today.” (144)
            </p>
            <p>
                The four survival archetypes are the Child, Victim, Saboteur, and Prostitute. Click into the individual pages in the navigation to see more detailed information on each individual survival archetype.
            </p>
        </div>
        <div>
            <h3>How to Use this Site/The Purpose of This Site</h3>
            <p>
                Becoming aware of our archetypes and how they are at play in our lives is the first step to mastering the ability to make conscious choices. The survival archetypes help us grow and mature into individuals who know how to recognize the true lesson each experience that comes to us provides.
            </p>
            <p>
                This site was born from the idea that the  way to learn about the survival archetypes and to become aware of their light and shadow entities comes from reading others’ experiences with them - how they encountered their survival archetypes, the lessons the archetypes were highlighting, and what choices were made as a result of that awareness.
            </p>
            <p>
                Another one of the ways we learn to master our archetypes is by actively writing about how we uncovered an experience we had encountering our archetype and either mastering it or not. It is a two-fold benefit that goes both ways. 
            </p>
            <p>
                The purpose and intention of this site is to be a collection of survival archetype stories that help more of us learn to master our survival archetypes in our own lives through both reading about the experiences of others, and writing and sharing our own. By doing so, it is my hope that more of us become aware of our own journeys and choose to grow our personal power with integrity.
            </p>
        </div>
        <h1>All Stories</h1>
    </div>
    <div class="container">
        {% for post in posts.items %}
            <div class="card">
                <div class="car-boy">
                    <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                    <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                    <p>Archetype: {{post.category}}, Published on: {{post.date.strftime('%Y - %m - %d')}}</p>
                    <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}