{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>About the Survival Archetypes Story Collector</h1>
        <div>
            <h3>What are Archetypes?</h3>
            <p>
                Archetypes are impersonal patterns of behaviors or narratives that stem from the collective unconscious and are universally identified. They are shared collectively in the human experience and can be experienced both as life narratives, or as a psychological way of lensing a particular situation.
            </p>
        </div>
        <div>
            <h3>Why Archetypes?</h3>
            <p>
                Archetypes are the way we lens the world around us and a situation that is occuring in our lives. To be able to respond consciously to the events and experiences of our lives, it is extremely helpful to understand the archetypal pattern behind it in order to make a new choice.
            </p>
        </div>
        <div>
            <h3>What are the Four Survival Archetypes?</h3>
            <p>
                The concept of the four universal survival archetypes stems from <a href="https://myss.com" target="_blank">Caroline Myss</a> in her work <i>Sacred Contracts</i>. These survival archetypes are constantly in play in the life of an adult in search of establishing personal power in the material world. Myss writes “In engaging with the physical world and the moral choices that present themselves, we develop self-esteem…[The four priamry archetypes]…represent the issues, fears, and vulnerabilities that cause us to negotiate away the power of our spirits within the physical world…All four archetypes influence how we relate to material power, how we respond to authority, and how we make choices…These archetypal energies are neutral, and…can provide us with powerful and supportive imagery…[and] help you deal with your life today.” (144)
            </p>
            <p>
                The four survival archetypes are the Child, Victim, Saboteur, and Prostitute. Click into the individual pages in the navigation to see more detailed information on each individual survival archetype.
            </p>
        </div>
        <div>
            <h3>How to Use this Site/The Purpose of This Site</h3>
            <p>
                This site was born from the idea that the  way to learn about our archetypes and to become aware of their light and shadow entities comes from understanding and assimiliating the experiences in which we encounter these archetypes. Because the four survival archetypes are in each of us, through reading others’ experiences with them - how we encountered them, the lessons that were highlighted, and what choices were made as a result of that awareness - and actively identifying and writing about our own encounters with our survival archetypes helps us learn faster the lessons these archetypes intend to bring to us. 
            </p>
            <p>
                The purpose and intention of this site is to gather a collection of survival archetype stories to help more of us learn to master our survival archetypes in our own lives. By doing so, it is my hope that more of us become aware of our own journeys and choose to grow our personal power with integrity.
            </p>
        </div>
        <div>
            <figure>
                <blockquote>
                    <p>These four archetypes are the intimate companions of your intuition. They make you conscious of your vulnerabilities, your fear of being victimized. They allow you to see how you sabotage your creative opportunities or abort your dreams, and in the future they will become your allies in fulfilling opportunities and dreams. Your archetypes can help you transcend the shadow belief that ‘everyone has a price’ and allow you to see that you are not for sale. They will allow you to become completely self-reliant; through them you will come to see options where others see excuses.</p>
                </blockquote>
                <figcaption>- Caroline Myss <cite>Sacred Contracts, p. 144</cite></figcaption>
            </figure>
        </div>
        <div>
            <h1>Credits</h1>
            <ul>
                <li>This site's idea was inspired entirely by the works of Caroline Myss in <i>Sacred Contracts</i>, cited as follows: Myss, Caroline. Sacred Contracts: Awakening Your Divine Potential. Harmony, 2002.</li>
                <li>Background photo by <a href="https://unsplash.com/@salcrocejpg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Salvatore Andrea Santacroce</a> on <a href="https://unsplash.com/@salcrocejpg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
                <li>The favicon for this website came from <a href="https://www.flaticon.com/free-icons/story" title="story icons">Story icons created by Freepik - Flaticon</a></li>
            </ul>
        </div>
    </div>

{% endblock %}