{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Collective Prostitute Archetype Stories</h1>
        <div>
            <h3>About the Prostitute Archetype: The Guardian of Faith</h3>
            <p>The Prostitute archetype manifests itself when you are asked to compromise your integrity and “sell yourself” for physical survival and security in the form of financial gain. This archetype highlights the moments we stay silent in fear of someone taking away our physical security, whether that be in a marriage or a work situation. The Prostitute archetype asks us, “Do you have faith in a higher power as your source of security, or do you have believe in this person or situation being your source of security?”
            <p>Apart from marriage and work situations, many times people seek a guarantee that if they pursue what they truly want to do, they will be financially rewarded or never be without a roof over their heads. As a result of this fear/lack of guarantee, many people daily “prostitute” themselves to a life they don’t believe in for the sake of financial security.</p>
            <p>Written by Myss: “[The Prostitute archetype’s] core issue is how much you are willing to sell of yourself–your morals, your integrity, your intellect, your word, your body, or your soul–for the sake of physical security. The Prostitute archetype also dramatically embodies and tests the power of faith. If you have faith, no one can buy you. You know that you can take care of yourself and also that the Divine is looking out for you. Without faith, however, you will eventually meet the price you cannot turn down.” (<i>Sacred Contracts</i>, 152)</p>
            <p>“Think of the Prostitute as the ally who puts you on alert every time you contemplate shifting your faith from the Divine to the physical. Anytime you are in a crisis of faith, try to become mindful of your thoughts and fears. Name exactly what you are afraid of, especially those fears that try to talk you into compromising yourself in any way. The Prostitute appears when you begin to believe that you could order your life if you just had the money to control the world around you–and to buy just a bit of everyone in it. It appears when you stay in a relationship that is not good for you just because you don’t want to be alone. It appears when you’re asked to do something unethical or illegal ‘for the good of the company.’” (<i>Sacred Contracts</i>, 154)</p>
        </div>
        <div>
            <i>Light aspects:</i> never selling oneself or one’s values for the sake of financial gain/never being “up for sale”, having unshakeable faith in a higher power’s role in our lives, experiencing the power of one’s spirit to resist temptation/cave into fear, ability to navigate the physical world while speaking truth, living a life without compromises to the integrity of our body, mind, or spirit
            <br>
            <i>Shadow aspects:</i> selling/negotiating parts of self for financial gain or perceived opportunities, attempting to negotiate others’ integrity for financial gain, selling silence or creativity as a way to retain physical security, compromising one’s integrity, losing one’s sense of direction/morals due to fear of survival, lack of faith, being easily manipulated by others through material/financial compensation
        </div>
        <h3>All Prostitute Archetype Stories</h3>
    </div>
    <div class="container">
        <div class="row">
            {% for post in posts.items %}
                <div class="card">
                    <div class="car-boy">
                        <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                        <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                        <p>Archetype: {{post.category}}, Published: {{post.date.strftime('%Y - %m - %d')}}</p>
                        <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('posts.post_prostitute', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('posts.post_prostitute', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}