{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Collective Saboteur Archetype Stories</h1>
        <div>
            <h3>About the Saboteur Archetype: The Guardian of Choice</h3>
            <p>The Saboteur archetype shows up in our moments where we have the opportunity to make choices that can seal our destiny and allow us to continue moving in the direction of our highest potential - or not. It is the guardian of choice - to make choices that are in our highest realization and change our lives, or to sabotage our opportunities and “stay safe.”
            </p>
            <p>Written by Myss:
                “The Saboteur’s fears and issues are all related to low self-esteem that causes you to make choices that block your own empowerment and success…you will find that it calls your attention to situations in which you are in danger of being sabotaged, or of sabotaging yourself. Once you are comfortable with the Saboteur, you learn to hear and heed these warnings, saving yourself untold grief from making the same mistakes over and over.” (myss.com)
                “The core issue for the Saboteur is fear of inviting change into your life, change that requires responding in a positive way to opportunities to shape and deepen your spirit. Yet it is impossible to stop the process of change. Deep in your tissue, you know that having power and using it necessitates change…The choice to respond to an inner voice that directs you to pursue your spiritual life is obviously one that can rearrange your familiar world.” (<i>Sacred Contracts</i>, 157)</p>
        </div>
        <div>
            <p>
                <i>Light aspects:</i> seeing the opportunities that come as a growing self-journey, no fear of changes to one’s life when they are in the direction of positive growth, ability to discern opportunities clearly for what they are, stable sense of self-esteem from constant stream of positive choices, consistently encountering new opportunities at new levels of empowerment, courage to call forth greater aspects of self and spiritual growth
                <br>
                <i>Shadow aspects:</i> sabotaging opportunities due to fear of change, missing creative opportunities, deflecting value and worth of self and others, strong desire to undermine others, inability to empower another person, ruining one’s own opportunities, repeated mistakes even when lesson is delivered, constant insecurity around others who have accomplished more, need to talk down others, speaking on behalf of others
            </p>
        </div>
        <h3>All Saboteur Archetype Stories</h3>
    </div>
    <div class="container">
        <div class="row">
            {% for post in posts.items %}
                <div class="card">
                    <div class="car-boy">
                        <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                        <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                        <p>Archetype: {{post.category}}, Published: {{post.date.strftime('%Y - %m - %d')}}</p>
                        <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('posts.post_saboteur', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('posts.post_saboteur', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}