{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="page-header">
            <h1>Collective Victim Archetype Stories</h1>
        </div>
        <div>
            <h3>About the Victim Archetype: Guardian of Self-Esteem</h3>
            <p>The Victim archetype manifests regularly when we are confronted with being put in a situation where our power and self-esteem is oppressed. It turns into our opportunity to develop a strong sense of self-esteem and know that ultimately each time the Victim shows up it is a signal of a powerful opportunity for us to develop our ability to esteem ourselves.</p>
            <p>Written by Myss: “The Victim archetype may manifest the first time you don’t get what you want or need; are abused by a parent, playmate, sibling, or teacher; or are accused of or punished for something you didn’t do. You may suppress your outrage at the injustice if the victimizer is bigger and more powerful than you. But at a certain point you discover a perverse advantage to being the Victim. You may be afraid to stand up for yourself, or you may enjoy getting sympathy. The core issue of the Victim is whether it’s worth giving up your own sense of empowerment to avoid taking responsibility for your independence.” (<i>Sacred Contracts</i>, 149)
            </p>
        </div>
        <div>
            <h3>Light/Shadow Aspects</h3>
            <p>
                <i>Light aspects</i>: taking a stand for oneself and one’s self-esteem, developing a sense of power through alchemizing victimizing circumstances, establishing boundaries energetically (rather than by avoidance), strong connection to complete inner power of one’s self-esteem
            </p>
            <p>
                <i>Shadow aspects</i>: thinking one is always taken advantage of through no fault of one’s own, blaming external circumstances for lack of power in the physical world, indulgence in self-pity and one’s wounds, being walked all over, avoiding conversations that require one to stand up for oneself
            </p>
        </div>
        <div class="page-header">
            <h2>All Victim Archetype Stories</h2>
        </div>
    </div>
    <div class="container">
        <div class="row center-these-cards">
            {% for post in posts.items %}
                <div class="card">
                    <div class="car-boy">
                        <h4><a class="card-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h4>
                        <h6>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h6>
                        <p>Archetype: {{post.category}}, Published: {{post.date.strftime('%Y - %m - %d')}}</p>
                        <a class="btn btn-primary" href="{{url_for('posts.post', post_id=post.id)}}">Read Post</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('posts.post_victim', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('posts.post_victim', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}